{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Index {{ ressources|length }} ressources</h1>

    {% for ressource in ressources %}
        <article>
            <h2><a href="{% url 'ressources:show' id=ressource.id %}">#{{ ressource.id }} - {{ ressource.title|upper }}</a></h2>
            <p>{{ ressource.body|truncatewords:3 }}</p>
            <a href="{% url 'ressources:show' id=ressource.id %}">Lire la suite</a>
        </article>
        {% if not forloop.last %}
        <hr>
        {% endif %}

    {% empty %}
    <p>No ressources availables.</p>
    {% endfor %}
{% endblock %}