{% extends 'layouts/base.html' %}
{% load auth_extras %}

{% block title %}RSR | {{id.title}} {% endblock %}
{% block content %}
    <article>
        <h1> Show ressource #{{id.id}} - {{id.titre}} details</h1>
        <h2> Détails de la resource : </h2>
        <p>{{id.stockage}}</p>
        {% if request.user|has_group:"admin" or user == id.auteur %}
            <form action="{% url 'ressources:edit_ressource' id=id.id %}" > {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Modifier</button>
            </form>
        {% endif %}
        <br/><br/>

        {% if request.user|has_group:"utilisateur" and user != id.auteur and consulte.favoris == False %}
            <form action="{% url 'ressources:add_favoris' id=id.id %}"> {% csrf_token %}
                <button type="submit" class="btn btn-info">Ajouter aux favories</button>
            </form>
        {% elif request.user|has_group:"utilisateur" and user != id.auteur and consulte.favoris == True %}
            <form action="{% url 'ressources:delete_favoris' id=id.id %}"> {% csrf_token %}
                <button type="submit" class="btn btn-warning">Supprimer des favories</button>
            </form>
        {% endif %}
        <br/><br/>
    <hr>
    <h2> Ajouter un commentaire : </h2>
        {% if request.user.is_authenticated %}
            <form action="{% url 'ressources:add_commentary' id.id %}" method=POST> {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <input name="fromcom" type="hidden" value=0>
                </div>
                    <button type="submit" class="btn btn-success">Ajouter le commentaire</button>
            </form>  
        {%endif%}        
        <br>
    <hr>
        <h2> Commentaire(s) de la ressource  : </h2>

        <table>
        {% for commentaire in commentaires %}
            {% if id.id == commentaire.id_ressources.id and commentaire.fromcom == 0 %}
                <tr>
                    <td><h4>{{commentaire.auteur.username}}</h4></td>
                    {% if user.is_authenticated and user == commentaire.auteur  %}
                        <td><a href="{% url 'ressources:update_commentary' commentaire.id %}"><button class="btn btn-primary">Modifier</button></a></td>
                        <td><a href="{% url 'ressources:delete_commentary' commentaire.id %}"><button class="btn btn-danger">Supprimer</button></a></td>
                    {% endif%}
                    {% if request.user|has_group:"moderateur" and user != commentaire.auteur  %}
                        <td><a href="{% url 'ressources:delete_commentary' commentaire.id %}"><button class="btn btn-danger">Supprimer</button></a></td>
                    {% endif%}
                </tr>
                <tr>
                    <td>{{ commentaire.commentaire }}</td>
                </tr>
                <tr>
                    <td>
                    <hr>
                        <h2> Ajouter une réponse au commentaire : </h2>

                        {% if request.user.is_authenticated %}
                            <form action="{% url 'ressources:add_commentary' id.id %}" method=POST> {% csrf_token %}
                                <div class="form-group">
                                    {{ form.as_p }}
                                    <input name="fromcom" type="hidden" value={{commentaire.id}}>
                                </div>
                                <button type="submit" class="btn btn-success">Ajouter la reponse</button>
                            </form>
                            <hr>
                            <h4> Réponses aux commentaires :  </h4>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                     {% for reponse in commentaires %}
                        {% if commentaire.id == reponse.fromcom %}
                                <tr>
                                <td><h5>{{reponse.auteur.username}}</h5></td>
                                {% if user.is_authenticated and user == commentaire.auteur  %}
                                    <td><a href="{% url 'ressources:update_commentary' reponse.id %}"><button class="btn btn-primary">Modifier</button></a></td>
                                    <td><a href="{% url 'ressources:delete_commentary' reponse.id %}"><button class="btn btn-danger">Supprimer</button></a></td>
                                {% endif%}
                                {% if request.user|has_group:"moderateur" and user != commentaire.auteur  %}
                                    <td><a href="{% url 'ressources:delete_commentary' reponse.id %}"><button class="btn btn-danger">Supprimer</button></a></td>
                                {% endif%}
                                <tr>
                                    <td>{{ reponse.commentaire }}</td>
                                </tr>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tr>



            {% endif %}
        {% empty %}
            <p>La ressource n'a aucun commentaire.</p>
        {% endfor %}
        </table>
    </article>
    <hr>
{% endblock %}