{% extends 'layouts/base.html' %}
{% load auth_extras %}

{% block content %}
{% if request.user == commentaire.auteur or request.user|has_group:"moderateur" %}
    <h1>Modification du commentaire</h1>
    <br/>
    <form action="{% url 'ressources:update_commentary' id=commentaire.id %}" method=POST> {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
            <button type="submit" class="btn btn-primary">Modifier le commentaire</button>
    </form>

{% else %}
    <h1>Oups vous essayez d'outre passer vos droits, vous n'avez rien à faire là !</h1>
{% endif %}
{% endblock %}