<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RSR</a>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Accueil</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Connexion</a> <!-- Ajouter le chemin de connexion -->
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Inscription</a>  <!-- Ajouter le chemin d'inscription -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Administration</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
        </div>
    </div>
  </nav>