/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Helpers */
.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

/* Main Styles */
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.list-group{
    background-color: #9f9f9f;
}

table tbody {
    display: table;
    width: 100%;
}

table thead {
    display: table;
    width: 100%;
}

table{

    display: block;
    overflow-x: scroll;
}



div.list-group{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

div.list-group>* {
    flex: 1 1 500px;
}

.list-group-item{
    border: #049ca3 solid 0.3rem;
}

h1{
    font-family: URW Chancery L, cursive;
    text-align: center;
}

#listTest{
    border-top-width: 5px;
}



/* Forms */

#container{
    width:400px;
    margin:0 auto;

}
/* Bordered form */
form.loginForm {
    width:100%;
    padding: 30px;
    margin-top: 10%;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}


/* Nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#texte_nav:hover{
    color: #049ca3;
}

.nav-link:hover{
    background-color: #ddd;

}
#rechercher{
    color: #000091;
    border-color: #000091;
}

#rechercher:hover{
    background-color: #000091;
    color: #FFFFFF;
}
.nav-link{
    vertical-align: middle;
}

/* Logo */

.logo{
    width: 50px;
	height: 50px;
    margin-right: 5px;
}


/* Show ressource */

#supprimer{
    margin-left: 5px;
}

/*Buttons*/

.btn-primary{
    background-color: #000091;
    border-color: #000091;
}

#ajouter{
    margin-left: 10px;
}

/* Profil */

.titre_ressource{
    color: #000091;
}

    /* Collapse */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;

}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}