/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Helpers */
.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

/* Main Styles */
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.list-group{
    background-color: #9f9f9f;
}

div.list-group{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

div.list-group>* {
    flex: 1 1 500px;
}

.list-group-item{
    border: #808080 solid 0.3rem;
}

h1{
    font-family: URW Chancery L, cursive;
    text-align: center;
}

p{
    font-style: italic;
}

#listTest{
    border-top-width: 5px;
}

/* Forms */

#container{
    width:400px;
    margin:0 auto;

}
/* Bordered form */
form.loginForm {
    width:100%;
    padding: 30px;
    margin-top: 10%;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}


/* Nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000091;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
    color: #000091;
}
#rechercher{
    color: #000091;
    border-color: #000091;
}

#rechercher:hover{
    background-color: #000091;
    color: #FFFFFF;
}
.nav-link{
    vertical-align: middle;
}


