{% extends 'layouts/base.html' %}
{% load auth_extras %}
{% block title %}Add Ressource{% endblock %}
{% block content %}

{% if form.errors %}
<div class="alert alert-secondary" role="alert">
    Il y a une erreur dans le formulaire
</div>
{% endif %}
<div id="container">
{% if request.user|has_group:"utilisateur" %}
    <h1>Ajout d'une ressource</h1>
    <br/>
    <form action="{% url 'ressources:add_ressource' %}" method=POST class="loginForm"> {% csrf_token %}

        {{ form.as_ul }}
        <br/><br/>
        <button type="submit" class="btn btn-primary" id="ajouter">Ajouter</button>
    </form>
{% else %}
    <h1>Oups vous essayez d'outre passer vos droits, vous n'avez rien à faire là !</h1>
{% endif %}
    </div>
{% endblock %}
