{% extends 'layouts/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}
    <h1>Page d'accueil</h1>

    <h2>Listes des dernières ressources</h2>
    <div class="list-group">
        {% for ressource in ressources %}
            {% if ressource.valide %}
                <a href="{% url 'ressources:show_ressource' id=ressource.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ ressource.titre }}</h5>
                    <small>{{ressource.created_at}}</small>
                    </div>
                    <p class="mb-1">{{ressource.stockage|truncatewords:3}}</p>
                    <small>{{ressource.auteur.username}}</small>
                </a>
            {% endif%}
        {% endfor %}
    </div>

    <br/><br/>
    
    <div class="list-group">
        <table id="table_id" class="display table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Date de publication</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Date dernière modification</th>
                </tr>
            </thead>
            {% for ressource in ressources %}
                {% if ressource.valide %}
                    <tr>
                        <th>{{ressource.titre}}</th>
                        <th>{{ressource.created_at}}</th>
                        <th>{{ressource.auteur.username}}</th>
                        <th>{{ressource.updated_at}}</th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}