{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    th {
      cursor: pointer;
    }
</style>

    <h1>Page d'accueil</h1>

    <h2>Listes des 5 dernières ressources</h2>
    <div class="list-group">
        {% for ressource in ressources_recent %}
            {% if ressource.valide == 2%}
                <a href="{% url 'ressources:show_ressource' id=ressource.id %}" class="list-group-item list-group-item-action flex-column align-items-start" id="listTest">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ ressource.titre }}</h5>
                    <small>{{ressource.created_at}}</small>
                    </div>
                    <p class="mb-1">{{ressource.stockage|truncatewords:20}}</p>
                    <small>{{ressource.auteur.username}} | {{ ressource.category }}</small>
                </a>
            {% endif%}
        {% endfor %}
    </div>

    <br/><br/>
    
    <div class="list-group table-responsive">
        <table id="table_id" class="display table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" onclick="sortTable(0)">Titre</th>
                    <th scope="col" onclick="sortTable(1)">Date de publication</th>
                    <th scope="col" onclick="sortTable(2)">Auteur</th>
                    <th scope="col" onclick="sortTable(3)">Date dernière modification</th>
                </tr>
            </thead>
            {% for ressource in ressources %}
                {% if ressource.valide == 2%}
                    <tr>
                        <td><a href="{% url 'ressources:show_ressource' id=ressource.id %}" class="titre_ressource">{{ressource.titre}}</a></td>
                        <td>{{ressource.created_at}}</td>
                        <td>{{ressource.auteur.username}}</td>
                        <td>{{ressource.updated_at}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <script>
        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("table_id");
          switching = true;
          dir = "asc";
          while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
              shouldSwitch = false;
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              switchcount ++;
            } else {
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
        </script>
{% endblock %}